
@model TfsConnectionModel

@{
    ViewData["Title"] = "Settings";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script type="text/javascript">
        $(function () {
            $("#UseWindowsIdentity").change(function () {
                if (this.checked) {
                    $("#Username").attr("disabled");
                    $("#Password").attr("disabled");
                }
                else {
                    $("#Username").removeAttr("disabled");
                    $("#Password").removeAttr("disabled");
                }
            });
        });
    </script>
}
<!--
<p class="button">
    <a asp-controller="Settings" asp-action="TestConnection" asp-route-id="">Test</a>
</p>
-->

<form asp-antiforgery="true" asp-controller="Settings" asp-action="SaveConnection">
    <h2>App Settings</h2>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <fieldset>
        <legend>TFS Connection</legend>

        @*@Html.EditorForModel()*@

        <div class="row">
            <label asp-for="Url" class="col-md-1 control-label"></label>
            <div class="form-group col-md-11">
                <input asp-for="Url" class="form-control" placeholder="http://server:8080/tfs/DefaultCollection" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="checkbox">
                    <label asp-for="UseWindowsIdentity">
                        <input asp-for="UseWindowsIdentity" type="checkbox" />
                        Use Windows Identity
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <label asp-for="Username" class="col-md-1 control-label"></label>
            <div class="form-group col-md-5">
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <label asp-for="Password" class="col-md-1 control-label"></label>
            <div class="form-group col-md-5">
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
    </fieldset>

    <input type="submit" value="Save" />
</form>