
@model TfsConnectionModel

@{
    ViewData["Title"] = "Settings";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script type="text/javascript">
        function onWindowsIdentityChange(checked) {
            var username = $("#Username");
            var password = $("#Password");

            username.prop('disabled', checked);
            password.prop('disabled', checked);

            if (checked) {
                username.val('');
                password.val('');
            }
        }

        $(function () {
            $("#UseWindowsIdentity").change(function () {
                onWindowsIdentityChange(this.checked);               
            });

            $("#settingsForm").submit(function (event) {
                $("#saveButton").prop('disabled', true);
                $("#SavingLabel").text('Saving and testing connection, please wait...');
                $("#saveAlert").hide();
            });


            onWindowsIdentityChange(@Json.Serialize(Model.UseWindowsIdentity));
        });
    </script>
}

<form asp-antiforgery="true" asp-controller="Settings" asp-action="SaveConnection" id="settingsForm">
    <h2>App Settings</h2>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <fieldset>
        <legend>TFS Connection</legend>

        <div class="row">
            <label asp-for="Url" class="col-md-1 control-label"></label>
            <div class="form-group col-md-11">
                <input asp-for="Url" class="form-control" placeholder="http://server:8080/tfs/DefaultCollection" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="checkbox">
                    <label asp-for="UseWindowsIdentity">
                        <input asp-for="UseWindowsIdentity" type="checkbox" />
                        Use Windows Identity
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <label asp-for="Username" class="col-md-1 control-label"></label>
            <div class="form-group col-md-5">
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <label asp-for="Password" class="col-md-1 control-label"></label>
            <div class="form-group col-md-5">
                <input asp-for="Password" class="form-control" value="@Model.Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
    </fieldset>

    <input type="submit" id="saveButton" value="Save" />
    <span id="SavingLabel" style="margin-left: 10px;"></span>

    @if (Model.ValidationResult != null 
        && !Model.ValidationResult.IsError 
        && !string.IsNullOrEmpty(Model.ValidationResult.Message)) { 
        <div class="alert alert-success alert-dismissible tfs-settings-validate-success" role="alert" id="saveAlert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @Model.ValidationResult.Message
        </div>
    }
</form>