@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    <strong>Support:</strong> <a id="contactLink" href="javascript:;">https://geoffhudik.com/contact/</a><br />
    <strong>Source and Contributions:</strong> <a id="sourceLink" href="javascript:;">https://github.com/thnk2wn/TfsStates</a>
</address>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script type="text/javascript">
        $(function () {
            const { ipcRenderer } = require("electron");

            $('#contactLink').click(function () {
                ipcRenderer.send("link-contact");
            });

            $('#sourceLink').click(function () {
                ipcRenderer.send("link-source");
            });
        });
    </script>
}
