
@model TfsStates.ViewModels.TfsConnectionViewModel

@{
    ViewData["Title"] = "Settings";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <environment include="Development">
        <script src="~/js/tfs-connection-item.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/tfs-connection-item.js"></script>
    </environment>

    <script type="text/javascript">
        var ipcRenderer;

        $(function () {
            ipcRenderer = require("electron");

            if ($('#connectionsTable> tbody').children().length == 0) {
                $("#newConnectionButton").click();
            }
        });

        function azureDevOpsTokenHelp() {
            ipcRenderer.send("azure-devops-pat-docs");
        }

        function initNewConnection($appended) {
            var $root = $appended.find('.connection-root');
            var $form = $appended.find('form');
            var $connType = $form.find('.connection-type');
            var $useDefaultCreds = $form.find('.use-default-credentials');
            onConnectionTypeChange($connType[0]);
            onWindowsIdentityChange($useDefaultCreds[0]);

            $form.submit(function (e) {
                e.preventDefault();
                var data = $form.serialize();

                $.post($form[0].action, data, function (savedConnectionView) {
                    var id = $form.find('input[name=Id]').val();
                    $root.replaceWith(savedConnectionView);

                    var $newForm = $('#connectionsTable').find('#connectionForm_' + id);
                    var $replaced = $newForm.closest('.connection-root');
                    initNewConnection($replaced);
                });
            });
        }

        $("#newConnectionButton").on("click", function () {
            var url = '@Url.Action("NewConnection", "Settings")';

            $.get(url, function (newConnectionView) {
                var $appended = $('#connectionsTable> tbody:last-child').append(newConnectionView);
                initNewConnection($appended);
            })
            .fail(function () {
                // TODO: on page alert for New error
                alert('Error trying to add new TFS connection.');
            })
            .always(function () {
            });
        });
    </script>
}

<h2>App Settings</h2>

<h3>TFS Connections</h3>

<button type="button" class="btn btn-primary" id="newConnectionButton">New Connection</button>

<table id="connectionsTable" class="table table-striped">
    <tbody>

        @foreach (var connection in Model.Connections)
        {
            <partial name="TfsConnectionItem" model="connection" />
        }
    </tbody>
</table>