
@model TfsStates.ViewModels.TfsConnectionViewModel

@{
    ViewData["Title"] = "Settings";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <environment include="Development">
        <script src="~/js/tfs-connection-item.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/tfs-connection-item.js"></script>
    </environment>

    <script type="text/javascript">
        $(function () {
            const { ipcRenderer } = require("electron");

            $('.azure-devops-pat-docs').click(function () {
                ipcRenderer.send("azure-devops-pat-docs");
            });
        });

        $("#newConnectionButton").on("click", function () {
            var url = '@Url.Action("NewConnection", "Settings")';

            $.get(url, function (partialView) {
                var $appended = $('#connectionsTable> tbody:last-child').append(partialView);
                var $form = $appended.find('form');
                var $connType = $form.find('.connection-type');
                onConnectionTypeChange($connType[0]);
            })
            .fail(function () {
                // TODO: on page alert for New error
                alert('Error trying to add new TFS connection.');
            })
            .always(function () {
            });
        });
    </script>
}

<h2>App Settings</h2>

<h3>TFS Connections</h3>

<button type="button" class="btn btn-primary" id="newConnectionButton">New Connection</button>

<table id="connectionsTable" class="table table-striped">
    <tbody>

        @foreach (var connection in Model.Connections)
        {
            <partial name="TfsConnectionItem" model="connection" />
        }
    </tbody>
</table>