
@model TfsStates.ViewModels.TfsConnectionViewModel

@{
    ViewData["Title"] = "Settings";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <environment include="Development">
        <script src="~/js/tfs-connection-item.js" asp-append-version="true"></script>
        <script src="~/lib/notify/bootstrap-notify.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/tfs-connection-item.js" asp-append-version="true"></script>
        <script src="~/lib/notify/bootstrap-notify.min.js"></script>
    </environment>

    <script type="text/javascript">
        const { ipcRenderer } = require("electron");

        $(function () {
            $("[data-hide]").on("click", function () {
                $("." + $(this).attr("data-hide")).hide();
            })

            @if ((Model.Connections?.Count ?? 0) == 0)
            {
            @:$("#newConnectionButton").click();
            }
            else
            {
            @:$('div.connection-root').each(function (i, e) { initNewConnection($(this), $(this).attr('data-id')); });
            }
        });

        function azureDevOpsTokenHelp() {
            ipcRenderer.send("azure-devops-pat-docs");
        }

        function azureDevOpsTokenMSHelp() {
            ipcRenderer.send("azure-devops-pat-msdocs");
        }

        $("#newConnectionButton").on("click", function () {
            $(this).prop('disabled', true);

            setTimeout(function () {
                $("#newConnectionButton").prop('disabled', false);
            }, 3000);

            var url = '@Url.Action("NewConnection", "Settings")';

            $.get(url, function (newConnectionView) {
                var connId = $(newConnectionView).attr('data-id');
                const lastChild = '#connection-list:last-child';
                $(lastChild).append(newConnectionView);
                var $newConnection = $(lastChild);
                initNewConnection($newConnection, connId);
            })
            .fail(function () {
                // TODO: on page alert for New error
                alert('Error trying to add new TFS connection.');
            })
            .always(function () {
            });
        });
    </script>
}

<h2>Settings</h2>

<h3>TFS Connections</h3>

<div asp-validation-summary="All" class="text-danger"></div>

<button type="button" class="btn btn-primary" id="newConnectionButton">New Connection</button>

<div id="connection-list">
    @foreach (var connection in Model.Connections)
    {
        <partial name="~/Views/Home/TfsConnectionItem.cshtml" model="connection" />
    }

</div>