
@model TfsStates.ViewModels.TfsConnectionViewModel

@{
    ViewData["Title"] = "Settings";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <environment include="Development">
        <script src="~/js/tfs-connection-item.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/tfs-connection-item.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        var ipcRenderer;

        $(function () {
            ipcRenderer = require("electron");

            @if ((Model.Connections?.Count ?? 0) == 0)
            {
            @:$("#newConnectionButton").click();
            }
            else
            {
            @:$('div.connection-root').each(function (i, e) { initNewConnection($(this)); });
            }
        });

        function azureDevOpsTokenHelp() {
            const { ipc } = require("electron");
            ipc.send("azure-devops-pat-docs");
        }

        $("#newConnectionButton").on("click", function () {
            $(this).prop('disabled', true);

            setTimeout(function () {
                $("#newConnectionButton").prop('disabled', false);
            }, 3000);

            var url = '@Url.Action("NewConnection", "Settings")';

            $.get(url, function (newConnectionView) {
                const lastChild = '#connectionsTable> tbody:last-child';
                $(lastChild).append(newConnectionView);
                var $newConnection = $(lastChild);
                initNewConnection($newConnection);
            })
            .fail(function () {
                // TODO: on page alert for New error
                alert('Error trying to add new TFS connection.');
            })
            .always(function () {
            });
        });
    </script>
}

<h2>App Settings</h2>

<h3>TFS Connections</h3>

<button type="button" class="btn btn-primary" id="newConnectionButton">New Connection</button>

<table id="connectionsTable" class="table table-striped">
    <tbody>

        @foreach (var connection in Model.Connections)
        {
            <partial name="TfsConnectionItem.cshtml" model="connection"  />
        }
    </tbody>
</table>